$hd_bgcolor:#f0f8f7;
$hd_b_color:#ef232c;
$hd_font_family:'Arial balck' 'Times New Roman', Times, serif;
$hd_span_color:black;
$font-family: 'Avenir', 'Times New Roman', Times, serif;
$tb_1-2_bg_color:#f2f1ed;
$age_1_p_font_family:"Agency FB", 'Times New Roman', Times, serif;
$table_3_1_bg_color:#e8edec;
$text_color:rgb(59,59,55);