.logo {
    width: 200px;
    height: 180px;
}
.Demog_logo
{
    width: 80%;
    height: 90%; 
    
    margin-top: 20px;
}
header{
    background-color: $hd_bgcolor;
}
b
{
    color:$hd_b_color;
    font-size: 30px;
    font-family: $hd_font_family;
}
span
{
    color: $hd_span_color;
    font-size: 25px;
  
    font-weight: 300;
    font-family: $font-family;
}
.s1
{
    font-size: 30px;
}
.title_t
{
    width: 60%;
}
.p1
{
    

    margin-top: 30px;
    line-height: 45px;
   margin-right: 50px;
    text-align: center;

}

.sideimg
{
    width: 70%;
    margin-top: 30px;
    margin-right: 10px;
}
.sideimages
{
width: 180px;
height: 180px;
}